
.him{
  background:#f3f3f3;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:30px;
  text-align: left;
  padding-left: 50px;
}
#01{
   background-color: lightblue;
   color: black;
}
.sanjay{
  display:flex;
  flex-direction: column;
}


